<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>EnzymeML Spreadsheet Template - EnzymeML Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="icon" type="image/png" href="/favicon-32x32.svg">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

  
  
  
  <link rel="stylesheet" href="/css/style.min.d5f7944f326371b93764363e521d419bc33bfe886acbf013286f1db50b2586fd.css">
  

  

</head>

<script>
  var test = document.getElementById('partners-container');
  console.log("hsjhsjshjsh")
  window.addEventListener('scroll', function(e) {
    
    var scroll = window.pageYOffset || document.documentElement.scrollTop ||
                  document.body.scrollTop || 0;
    test.style.opacity = Math.max(0, Math.min(1, -scroll / 400 + 2));
  });
</script>

<body class='page page-services-list'>
  <div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    
    
    <li class="menu-item-home">
      <a href="/">
        <span>Home</span>
      </a>
    </li>
    
    <li class="menu-item-about">
      <a href="/services/">
        <span>About</span>
      </a>
    </li>
    
    <li class="menu-item-documents">
      <a href="/documents/">
        <span>Documents</span>
      </a>
    </li>
    
    <li class="menu-item-tools">
      <a href="/tools/">
        <span>Tools</span>
      </a>
    </li>
    
    <li class="menu-item-team">
      <a href="/team/">
        <span>Team</span>
      </a>
    </li>
    
    <li class="menu-item-contact">
      <a href="/contact/">
        <span>Contact</span>
      </a>
    </li>
    
  </ul>
</div>
  <div class="wrapper">
    <div class='header'>
  <div class="container">
    <div class="logo">
      <a href="http://EnzymeML.org/"><img height=38px alt="EnzymeML - A Markup Languange for Catalysis" src="/images/logo/enzymeml.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="http://EnzymeML.org/"><img alt="EnzymeML - A Markup Languange for Catalysis" src="/images/logo/enzymeml-mobile.png" /></a>
    </div>
    <div id="main-menu" class="main-menu">
  <ul>
    
    
    <li class="menu-item-home">
      <a href="/">
        
        <span>Home</span>
      </a>
    </li>
    
    <li class="menu-item-about">
      <a href="/services/">
        
        <span>About</span>
      </a>
    </li>
    
    <li class="menu-item-documents">
      <a href="/documents/">
        
        <span>Documents</span>
      </a>
    </li>
    
    <li class="menu-item-tools">
      <a href="/tools/">
        
        <span>Tools</span>
      </a>
    </li>
    
    <li class="menu-item-team">
      <a href="/team/">
        
        <span>Team</span>
      </a>
    </li>
    
    <li class="menu-item-contact">
      <a href="/contact/">
        
        <span>Contact</span>
      </a>
    </li>
    
  </ul>
</div>
    <button id="toggle-main-menu-mobile" class="hamburger hamburger--slider" type="button" aria-label="Mobile Menu">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
  </div>
</div>

    
<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-7 col-lg-6 order-1 order-md-1">
        <h1 id="enzymeml-spreadsheet">EnzymeML Spreadsheet</h1>
<p>If writing XML or programming in Python is not your forte, have no fear. Competency in these areas is not a requirement for our users. To simplify the process, we offer a user-friendly spreadsheet template for reporting experiments that can easily be transformed into EnzymeML format. Simply download the template, commence your reporting, and upon completion, upload the spreadsheet to receive a well-formed EnzymeML document ready for dissemination into the EnzymeML toolbox.</p>
<h2 id="download-the-enzymeml-spreadsheet">Download the EnzymeML spreadsheet</h2>
<p>A template of the EnzymeML spreadsheet can be downloaded <a href="http://api.enzymeml.org/template/download">here</a>. Additionally, an <a href="https://github.com/EnzymeML/PyEnzyme/blob/main/templates/EnzymeML_Template_Example.xlsm">example template</a> is provided which demonstrates how a template should be filled.</p>
<h2 id="convert-your-spreadsheet-to-enzymeml-here">Convert your spreadsheet to EnzymeML here</h2>
<form
    class="form-group pt-2"
    action = "https://enzymeml.sloppy.zone/template/convert"
    method = "POST"
    enctype = "multipart/form-data"
>
    <input class="form-control" type = "file" name = "enzymeml_template" />
    <input class="form-control" type = "submit"/>
</form>

      </div>
      <div class=" col-md-5 col-lg-6 order-2 order-md-2 position-relative">
        <div class="container pt-3 pt-md-1 pb-5">
          <div class="row">
            
            <div class="summary col-12 col-md-12 mb-2"><div class="service service-summary">
  <div class="service-content">
    <h2 class="service-title">
      <a href="http://EnzymeML.org/tools/template/tutorial/">Tutorial and Documentation</a>
    </h2>
    <p>This document will further explain the workflow and how to use the spreadsheet by giving best practices. For this, the …</p>
  </div>
</div>
</div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  </div>

  <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h3 class="footer-title">EnzymeML Project</h3>
          <ul>
            
            
            <li class="menu-item-home">
              <a href="/">
                Home
              </a>
            </li>
            
            <li class="menu-item-contact">
              <a href="/contact/">
                Contact
              </a>
            </li>
            
            <li class="menu-item-impressum">
              <a href="/legal-note/">
                Impressum
              </a>
            </li>
            
            <li class="menu-item-privacy information">
              <a href="/privacy-info/">
                Privacy Information
              </a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          
            
<div class="social">
    
        <a href="https://github.com/EnzymeML" target="blank"><img src="/images/social/github.svg" title="Github" alt="Github" /></a>
    
        <a href="https://twitter.com/EnzymeML" target="blank"><img src="/images/social/twitter.svg" title="Twitter" alt="Twitter" /></a>
    
</div>

          
          
            <div class="copyright">Copyright by <a class="EnzymeML" href="/team">EnzymeML Team</a></div>
          
        </div>
      </div>
    </div>
  </div>
</div>

  

  
  

  
  <script type="text/javascript" src="/js/scripts.min.8504133605a277da18f0d58cfd2e90d154962f4a961543a6e2f0a459a2d05462.js"></script>
  

  






  





</body>

</html>
